.user-home-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
}

.ws-header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}