.login-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: rgba(15, 15, 15);
  text-align: center;
  height: 90vh;
  color: white;
}

.title-secondary{
  margin-bottom: 10vh;
  max-width: 60%;
  font-weight: 600;
  font-size: 40px;
}